In [1]:
import pandas as pd
import numpy as np

In [9]:
#Q-1
result=''
start=2000
end=3200
start=start+7-start%7
for i in range(start,end,7):
    if i%5==0:
        continue
    result+=(str(i)+',')
print(result[:-1])

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [29]:
#Q-2
# Instead pf asking user to tell number of items beforehand
# Here the user will enter anything other than a number to terminate the input
def fact(n):
    return 1 if (n==1 or n==0) else n * fact(n - 1)

try:
    num = []
    while True:
        num.append(int(input()))
         
except:
    pass

for ind,i in enumerate(num):
    if ind==len(num)-1:
        print(fact(i), end='')
        break
    print(fact(i), end=',')

8
54
3
a
40320,230843697339241380472092742683027581083278564571807941132288000000000000,6

''

In [11]:
#Q-3

num=int(input())
res={}
for i in range(1,num+1):
    res[i]=i*i
res

4

{1: 1, 2: 4, 3: 9, 4: 16}

In [17]:
#Q-4

try:
    num = []
    while True:
        num.append(int(input()))
         
# if the input is not-integer, just print the list
except:
    pass
    
print(list(num))
print(tuple(num))

43
34
4334
42
2
2
32
3
332
32
2
3
2
2
1

[43, 34, 4334, 42, 2, 2, 32, 3, 332, 32, 2, 3, 2, 2, 1]
(43, 34, 4334, 42, 2, 2, 32, 3, 332, 32, 2, 3, 2, 2, 1)

In [22]:
#Q-5

class String():
    def __init__(self):
        self.str1 = ""

    def get_String(self):
        self.str1 = input()

    def print_String(self):
        print(self.str1.upper())

str1 = String()
str1.get_String()
str1.print_String()

Lakshya Bhardwaj
LAKSHYA BHARDWAJ

In [28]:
#Q-7

C=50
H=30
try:
    D = []
    while True:
        D.append(int(input()))
         
# if the input is not-integer, just print the list
except:
    pass

for i,d in enumerate(D):
    Q=2*C*d/H
    Q=round(Q**0.5)
    if i==len(D)-1:
        print(Q, end='')
        break
    print(Q, end=',')

100
150
180
f
18,22,24

In [39]:
#Q-8

items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(words)))

Input comma separated sequence of wordsgeeks,foe,ajfe
ajfe,foe,geeks

In [34]:
#Q-9

lines = []
while True:
    l = input()
    if l:
        lines.append(l.upper())
    else:
        break;

for l in lines:
    print(l)

lakshya
bhardwaj

LAKSHYA
BHARDWAJ

In [41]:
#Q-10

items = input("Input comma separated sequence of words:::")
words = set(word for word in items.split(" "))
print(" ".join(sorted(words)))

Input comma separated sequence of words::: hello world and practice makes perfect and hello world again
 again and hello makes perfect practice world

In [42]:
#Q-11
items = input()
nums = set(num for num in items.split(","))
for i,n in enumerate(nums):
    temp=int(n,2)
    if temp%5==0:
        print(n, end=',')

 0100,0011,1010,1001
1010,

In [14]:
#Q-12
from itertools import takewhile
start=1000
end=3000
res=[]
for d in range(start,end+1,2):
    filtered = ''.join(takewhile(lambda c: int(c) % 2 == 0, str(d)))
    if not filtered:
        continue
    if int(filtered) == d:
        res.append(str(d))
print(",".join(res))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [15]:
#Q-13

string = input("Please Enter your Own String : ")
alphabets = digits = 0

for i in range(len(string)):
    if((string[i] >= 'a' and string[i] <= 'z') or (string[i] >= 'A' and string[i] <= 'Z')): 
        alphabets = alphabets + 1 
    elif(string[i] >= '0' and string[i] <= '9'):
        digits = digits + 1
        
print("\nTotal Number of Alphabets in this String :  ", alphabets)
print("Total Number of Digits in this String :  ", digits)

Please Enter your Own String :  hello world! 123

Total Number of Alphabets in this String :   10
Total Number of Digits in this String :   3

In [16]:
#Q-14

string = input("Please Enter your String : ")
lower = upper = 0

for i in range(len(string)):
    if(string[i] >= 'a' and string[i] <= 'z'): 
        lower+=1 
    elif (string[i] >= 'A' and string[i] <= 'Z'):
        upper+=1
        
print("\nTotal Number of lowercase in this String :  ", lower)
print("Total Number of upper case in this String :  ", upper)

Please Enter your Own String : Hello world!

Total Number of lowercase in this String :   9
Total Number of upper case in this String :   1

In [19]:
#Q-15

a=int(input())
x=10-a
res=0
for i in range(1,5):
    temp=(10**i)-x
    res+=temp
res

9

11106

In [20]:
#Q-16

items = input("Input comma separated sequence of words")
nums = [int(word) for word in items.split(",")]
for i in range(len(nums)):
    if nums[i]%2:
        nums[i]=nums[i]**2
print(nums, end=',')

Input comma separated sequence of words1,2,3,4,54,5
[1, 2, 9, 4, 54, 25],

In [2]:
#Q-17

transaction=[]
while True:
    l = input()
    if l:
        transaction.append(l)
    else:
        break;

sum=0
for t in transaction:
    if t[0]=='D':
        sum+=int(t[2:])
    elif t[0]=='W':
        if sum-int(t[2:])<0:
            print("Withdrawl invalid")
            continue
        sum-=int(t[2:])
sum

D 4000
D 4000
W 3000

5000

In [16]:
#Q-18
items = input("Input comma separated sequence of words")
password = [word for word in items.split(",")]


res=[]
for p in password:
    if len(p)<6 or len(p)>12:
        continue
    l=0
    u=0
    d=0
    s=0
    for word in p:
        if (word >= 'a' and word <= 'z'):
            l+=1
        elif (word >= 'A' and word <= 'Z'):
            u+=1
        elif(word >= '0' and word <= '9'):
            d+=1
        else:
            s+=1
        
        if l and u and d and s:
            res.append(p)
            break
print(",".join(res))

Input comma separated sequence of wordsretf34,Uu&8m,IU*(HUYgy8,io(*huUU98
10
10
IU*(HUYgy8,io(*huUU98

In [20]:
#Q-19

data=[]
while True:
    item = input("Enter tuple::: ")
    tup = [word for word in item.split(",")]
    if item:
        data.append(tup)
    else:
        break;
data = sorted(data, key = lambda x: (x[0], x[1], x[2]))
data

Enter tuple::: Tom,19,80
Enter tuple::: John,20,90
Enter tuple::: Jony,17,91
Enter tuple::: Jony,17,93
Enter tuple::: Json,21,85
Enter tuple:::

[['John', '20', '90'],
 ['Jony', '17', '91'],
 ['Jony', '17', '93'],
 ['Json', '21', '85'],
 ['Tom', '19', '80']]

In [27]:
#Q-20
class divisible():
    def gene7(self,n):
        i=0
        while i<n+1:
            yield i
            i+=7
            
obj=divisible()
p=obj.gene7(45)
print(next(p))
print(next(p))
print(next(p))

0
7
14

In [ ]:
#Q-21

moves=[]
while True:
    l = input()
    if l:
        moves.append(l)
    else:
        break;
x=0
y=0
for move in moves:
    if move[i]=='L':
        a=move[i].split(' ')[1]
        x-=int(a)
    elif move[i]=='R':
        a=move[i].split(' ')[1]
        x+=int(a)
    elif move[i]=='U':
        a=move[i].split(' ')[1]
        y+=int(a)
    elif move[i]=='D':
        a=move[i].split(' ')[1]
        y-=int(a)
        
res=round((x*x + y*y)**0.5)
res

In [18]:
#Q-22
from collections import Counter
from itertools import chain
import collections
items = input("Input comma separated sequence of words")
test_list = [word for word in items.split(" ")]
res = collections.Counter(test_list)

sorted(res.items(), key=lambda pair: pair[0], reverse=False)

Input comma separated sequence of wordsNew to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3

[('2', 2),
 ('3', 1),
 ('3?', 1),
 ('New', 1),
 ('Python', 5),
 ('Read', 1),
 ('and', 1),
 ('between', 1),
 ('choosing', 1),
 ('or', 2),
 ('to', 1)]

In [20]:
#Q-23
def getsquare(n):
    return n**2
n=int(input())
getsquare(n)

3

9

In [23]:
#Q-24

print(abs.__doc__)
print(max.__doc__)

Return the absolute value of the argument.
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [ ]:
#Q-25

In [ ]:
#Q-26

def add_num(a,b):
    return a+b
a=int(input())
b=int(input())
add_num(a,b)

In [ ]:
#Q-27

def convert(x):
    return str(x)
x=35
convert(x)

In [ ]:
#Q-28

#Same as Q-27

In [ ]:
#Q-29 

def add_num(a,b):
    return int(a)+int(b)
a=input()
b=input()
add_num(a,b)

In [ ]:
#Q-30

def concat(a,b):
    return a+b
a=input()
b=input()
concat(a,b)

In [28]:
#Q-31

def print_longer(a,b):
    if len(a)>len(b):
        return a
    elif len(a)<len(b):
        return b
    else:
        print(a)
        print(b)
a=input()
b=input()
print_longer(a,b)

sda
dsa
sda
dsa

In [ ]:
#Q-32

def even_or_odd(num):
    if num%2:
        print("It is an odd number")
    else:
        print("It is an even number")
num=int(input())
even_or_odd(num)

In [29]:
#Q-33
def square(n):
    dict={}
    for i in range(1,n+1):
        dict[i]=i**2
    return dict
square(3)

{1: 1, 2: 4, 3: 9}

In [30]:
#Q-34

def square(n):
    dict={}
    for i in range(1,n+1):
        dict[i]=i**2
    return dict
square(20)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [31]:
#Q-35

def square(n):
    dict={}
    for i in range(1,n+1):
        dict[i]=i**2
    return dict.values()
square(20)

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

In [ ]:
#Q-36

def square(n):
    dict={}
    for i in range(1,n+1):
        dict[i]=i**2
    return dict.keys()
square(20)

In [ ]:
def square(n):
    list=[]
    for i in range(1,n+1):
        list.append(i**2)
    return list
square(20)
print(list)   #37 
print(list[:5])    #38
print(list[15:])   #39
print(list[6:])    #40
print(tuple(list)) #41

In [35]:
#Q-42

tup=tuple(x+1 for x in range(10))
print(tup[:5])
print(tup[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [43]:
#Q-43

res=tuple()
tup=tuple(x+1 for x in range(10))
for t in tup:
    if t%2==0:
        res+=(t,)
        
res

(2, 4, 6, 8, 10)

In [ ]:
#Q-44

string=input()
if string=='yes' or string=='Yes' or string=='YES':
    print('Yes')
else:
    print('No')

In [51]:
#Q-45
seq=[i+1 for i in range(10)]
result = list(filter(lambda x: x % 2 == 0, seq))
result

[2, 4, 6, 8, 10]

In [53]:
#Q-46

nums=[i+1 for i in range(10)]
result = list(map(lambda x:x**2, nums))

print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
#Q-47

seq=[i+1 for i in range(10)]
result=list(map(lambda x: x**2, filter(lambda   x: x%2==0, seq)))
result

[4, 16, 36, 64, 100]

In [52]:
#Q-48

seq=[i+1 for i in range(20)]
result = list(filter(lambda x: x % 2 == 0, seq))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [54]:
#Q-49

nums=[i+1 for i in range(20)]
result = list(map(lambda x:x**2, nums))

print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [65]:
#Q-50,51

class American():
    pass
    
    @staticmethod
    def printNationality():
        print('American')
        
        
class NewYorker(American):
    pass

obj=American()
obj.printNationality()
obj=NewYorker()
obj.printNationality()

American
American

In [89]:
#Q-52

class circle():
    def __init__(self, r):
        self.radius=r
    def area(self):
        return 3.1415*self.radius*self.radius
c=circle(1)
c.area()

3.1415

In [83]:
#Q-53

class Rectangle():
    def __init__(self, l, w):
        self.length = l
        self.width  = w

    def area(self):
        return self.length*self.width
    
r=Rectangle(2,5)
r.area()

10

In [97]:
#Q-54

class shape():
    
    def area(self, side=0):
        return side**2
    
class square(shape):
    def __init__(self,l=0):
        self.side=l
    def area(self):
        return self.side**2
    
s=shape()
print(s.area())
q=square(2)
print(q.area())

0
4

In [101]:
#Q-55

a=5
b=0
try:
    x=a/b
    print(x)
except:
    print("Divisiblity error")

Divisiblity error

In [ ]:
#Q-56

In [104]:
#Q-57

st="Chandra@analytixlabs.com"
name=st.split('@')[0]
name

'Chandra'

In [107]:
#Q-58

st="Chandra@analytixlabs.com"
name=st.split('@')[1]
name=name.split('.')[0]
name

'analytixlabs'

In [108]:
#Q-59

s=input()
res=[]
sen=s.split(' ')
for word in sen:
    if word.isdigit():
        res.append(word)
        
res

iuh8 ji 89 8s 8

['89', '8']

In [110]:
#Q-60

print(u'Hello, world!')

Hello, world!

In [2]:
#Q-61

x='String'
x=x.encode('utf-8')
x

b'String'

In [ ]:
#Q-62

In [2]:
#Q-63

res=0
n=int(input())
if n==0:
    print("Invalid")
    exit()
for i in range(1,n+1):
    t=i/(i+1)
    res+=t
res

5

3.5500000000000003

In [3]:
#Q-64

def func(n):
    if n==0:
        return 1
    return func(n-1)+100

n=int(input())
if n==0:
    print("Invalid")
    exit()
func(n)

5

501

In [4]:
#Q-65

def Fibonacci(n):
    if n == 0:
        return 0
    
    elif n == 1:
        return 1
    
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)

Fibonacci(7)

13

In [11]:
#Q-66

n=7
mylist=[0,1]
[mylist.append(mylist[-2]+mylist[-1]) for _ in range(n-1)]
mylist

[0, 1, 1, 2, 3, 5, 8, 13]

In [14]:
#Q-67

def func(i):
    yield i
n=int(input())
for i in range(0,n+1,2):
    print(next(func(i)))

8
0
2
4
6
8

In [16]:
#Q-68

def func(i):
    yield i
n=int(input())
for i in range(0,n+1):
    if i%7==0 and i%5==0:
        print(next(func(i)))

110
0
35
70
105

In [20]:
#Q-69

l=[2,4,6,8]
for i in l:
    assert i%2==0

In [23]:
#Q-70

evaluate = '35+8'
x = 3
expression = eval(evaluate)
expression

46

In [2]:
#Q-71,72

arr = [ 2, 3, 4, 10, 40 ]
x = 2

low = 0
high = len(arr) - 1
mid = 0

while low <= high:

    mid = (high + low) // 2

    # If x is greater, ignore left half
    if arr[mid] < x:
        low = mid + 1

    # If x is smaller, ignore right half
    elif arr[mid] > x:
        high = mid - 1

    # means x is present at mid
    else:
        print(mid)
        break

0

In [5]:
#Q-73,74
import random

print(random.uniform(10,100))
print(random.uniform(5,95))

56.745207589829974
24.813846811675216

In [12]:
#Q-75

def my_generator():
    while True:
        yield random.randrange(0,10,2)
a=my_generator()
print(next(a))

6

In [15]:
#Q-76

def my_generator():
    while True:
        yield random.randrange(0,1000,35)
a=my_generator()
print(next(a))

105

In [ ]:
#Q-77

x=random.sample([x for x in range(100,201)],5)
x

In [17]:
#Q-78

x=random.sample([x for x in range(100,201,)],5)
x

[122, 138, 106, 200, 178]

In [21]:
#Q-79

x=random.sample([x for x in range(1,1001,35)],5)
x

[386, 946, 911, 281, 456]

In [23]:
#Q-80

random.randrange(7,16)

11

In [36]:
#Q-81

import zlib
text="hello world!hello world!hello world!hello world!"
text=text.encode('utf-8')
comp=zlib.compress(text)
print("Compressed: ", comp)
decomp=zlib.decompress(comp)
print("Decompressed: ", decomp)

Compressed:  b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
Decompressed:  b'hello world!hello world!hello world!hello world!'

In [39]:
#Q-82
import timeit

mycode="1+1"
print(timeit.timeit(stmt = mycode,number = 100))

2.599999788799323e-06

In [42]:
#Q-83,84

lis=[3,6,7,8]
random.shuffle(lis)
lis

[7, 6, 3, 8]

In [45]:
#Q-85

import itertools
sen=[['I','You'],['Play','Love'],['Hockey','Football']]
list(itertools.product(*sen))

[('I', 'Play', 'Hockey'),
 ('I', 'Play', 'Football'),
 ('I', 'Love', 'Hockey'),
 ('I', 'Love', 'Football'),
 ('You', 'Play', 'Hockey'),
 ('You', 'Play', 'Football'),
 ('You', 'Love', 'Hockey'),
 ('You', 'Love', 'Football')]

In [46]:
#Q-86

lis=[5,6,77,45,22,12,24]
lis=[i for i in lis if i%2]
lis

[5, 77, 45]

In [ ]:
#Q-87

lis= [12,24,35,70,88,120,155]
lis=[i for i in lis if (i%5==0 and i%7==0)]

In [47]:
#Q-88

lis=[12,24,35,70,88,120,155]
lis=[lis[i] for i in range(1,len(lis),2)]
lis

[24, 70, 120]

In [48]:
#Q-89

a=3
b=5
c=8
mat=[[[0 for _ in range(a)] for _ in range(b)] for _ in range(c)]
mat

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

In [49]:
#Q-90

lis=[12,24,35,70,88,120,155]
lis.pop(0)  #0th element
lis.pop(3)  # since one element(left of 4th) is removed, 4th index is now 3rd
lis.pop(3)  # since two elements(left of 5th) are removed, 5th index is now 3rd
lis

[24, 35, 70, 155]

In [8]:
#Q-91

lis= [12,24,35,24,88,120,155]
lis=[i for i in lis if i != 24]
lis

[12, 35, 88, 120, 155]

In [10]:
#Q-92

lst1=[1,3,6,78,35,155]
lst2=[12,24,35,24,88,120,155]
res=[value for value in lst1 if value in set(lst2)]
res

[35, 155]

In [30]:
#Q-93

lis=[12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
lis=[i for n, i in enumerate(lis) if i not in lis[:n]]
lis

[12, 24, 35, 88, 120, 155]

In [34]:
#Q-94

class Person():
    def getGender():
        pass
class Male(Person):
    def getGender(self):
        print("Male")
class Female(Person):
    def getGender(self):
        print("Female")
    
per=Person()
male=Male()
male.getGender()
fem=Female()
fem.getGender()

Male
Female

In [35]:
#Q-95

test=input()
res = {}
for keys in test:
    res[keys] = res.get(keys, 0) + 1
res

abcdefgabc

{'a': 2, 'b': 2, 'c': 2, 'd': 1, 'e': 1, 'f': 1, 'g': 1}

In [37]:
#Q-96

lis=input()
lis[::-1]

rise to vote sir

'ris etov ot esir'

In [38]:
#Q-97

lis=input()
lis[::2]

H1e2l3l4o5w6o7r8l9d

'Helloworld'

In [40]:
#Q-98

from itertools import permutations
lis=[1,2,3]
print(list(permutations(lis)))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [42]:
#Q-99

legs=94
heads=35
if legs % 2 !=0 or heads ==0 or heads > legs:
    print('No solution')
else:
    r = int((legs + (-2*heads))/2)
    c = int(heads - r)
    
print("Rabbit\t", r)
print("Chicken\t", c)

Rabbit	 12
Chicken	 23

In [43]:
#Q-100

phonebook = {"John": 938477566,"Jack" :938377264, "Jill": 947662781}
phonebook["Jake"]=9462964042
phonebook.pop("Jill")
phonebook

{'John': 938477566, 'Jack': 938377264, 'Jake': 9462964042}